html, body{
    font-family: poppins;
}
body{
    margin: 0 auto;
    width: 1280px;
    height: 800px;
    background-image: url(images/body-img.jpg);
    background-size: cover;
   
    
    
    margin-top: 50px;
}
.landing-page{
    width: 1280px;
    height: 800px;
    background-image: url(images/bg-image.jpg);
    background-size: cover;
    padding: 25px 25px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1080px;
    padding: 30px;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    padding:10px;
    font-weight: 500px;
    color: white;
}
.fas fa-bars{
    color: white;
}
nav button{
    background: rgb(9, 41, 83);
    height: 45px;
    width: 100px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* main */

main{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    width: 1080px;
    padding-top: 35px;
}

.title h1{
    color: white;
    font-size: 60px;
}
.vl {
    border-left: 2px solid white;
    height: 200px;
  }
  .vl p{
      color: white;
      width: 500px;
      margin-left: 50px;
        padding-top: 50px;
  }

.search-form{
    background: rgba(255, 255, 255, 0.479);
    width: 330px;
    height: 500px;
    border-radius: 15px;
    padding: 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    opacity: 0.8;
}

.input-search{
    padding-top: 10px;
}
.form-input input{
    height: 45px;
    width: 320px;
    border-radius: 10px; 
    border: 2px solid  rgb(9, 41, 83);
    outline: none;
}
::placeholder {
    
    font-size: 16px;
  }
.form-input label{
    font-weight: 700;
}
.search-form button{
    background: rgb(9, 41, 83);
    height: 35px;
    width: 100px;
    margin-top: 15px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* footer  */

.footer-icon{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* margin: 0 auto; */
    width: 600px;
    padding: 30px;
}
.footer-icon a{
    text-decoration: none;
    font-size: 18px;
    padding:10px;
    font-weight: 500px;
    color: white;
}
.fa-chevron-down{
    font-size: 25px;
}